// font-family: "RobotoRegular";
@font-face {
  font-family: 'Formular';
  src: url('../fonts/Formular.woff2') format('woff2');
  font-weight: 400;
}
@font-face {
  font-family: 'Formular';
  src: url('../fonts/Formular-Medium.woff2') format('woff2');
  font-weight: 500;
}
@font-face {
  font-family: 'AMDGFont';
  src: url('../fonts/AMDGFont-Regular.woff2') format('woff2');
  font-weight: 500;
}