
@import '../styles/mixins';
*{
    box-sizing: border-box;

}

a, input, select, textarea{

    &:focus{
        outline: 0;
    }
}
input {
	-moz-appearance:textfield;
	box-shadow: none;
	// -webkit-appearance: none;
}
button:focus{
	outline: none;
    // box-shadow: 0 0 0 3px rgba(70, 77, 95, 0.2);
	// border-color: rgba(70, 77, 95, 0.4);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

h1,h2,h3,h4,h5,h6,p{
	margin: 0;
	padding: 0;
}
.wrapper{
	overflow: hidden;
}
h1{
	font-size: 36px;
    line-height: 36px;
    font-weight: 500;
	@include md{
		font-size: 30px;
		line-height: 36px;
	}
}
.container{
	width: 100%;
    max-width: 1300px;
    margin: 0px auto;
    padding: 0px 20px;
    position: relative;
}
body{
	padding: 0;
	margin: 0;
    font-size: 14px;
    line-height: 18px;
	background: #fff;
	font-weight: 400;
	font-family: 'Formular';
}