:root{
    --color-red: #E00C3C;
    --color-red--hover: #e00c3c;
    --color-blue: #2E2382;

    --color-gray-100:#F9F9F9;
    --color-gray-200:#F1F1F1;
    --color-gray-300:#BCBCBC;

    --swiper-theme-color: #e00c3c !important;
}
