:root{
    --color-white: #fff;
    --color-black: #000;
    --color-gray: #4F4F4F;
    --color-gray--light: #F5F5F5;
    --color-blue: #79D7F7;
    --color-blue-dark: #4ABEE6;
    --color-blue--dark: #384967;
}