<!DOCTYPE html>
html(lang="en")
	include components/layout/head.pug
body
	include components/layout/header.pug
	section.section-item(style='background: url(../assets/img/news.png) center no-repeat;background-size: cover;')
		.container
			.section-item__content
				nav.section-item__nav
					ul
						li
							a(href="#")  Главная
							img(src="assets/img/chevron-right.svg", alt="")
						li 
							span Новости
				.section-item__block
					h1.section-item__title Новости
	section.contact
		.container
			.contact-content
				h3.contact-title Обратная связь
				.contact-row
					.contact-boxes
						p.contact-desc Давайте начнем с бесплатной консультации. Напишите нам, и мы определим как защитить ваш бизнес. За несколько минут разговора мы подберем для вас индивидуальное решение.
						form.contact-form
							.pop-row
								.pop-groups
									.pop-group
										input.pop-input(type='text',required, placeholder='Ваше имя', value='')
									.pop-group
										input.pop-input(type='text',required, placeholder='Ваш телефон или email', value='')
							.pop-group
								textarea.pop-textarea(placeholder='Ваш вопрос', cols='30', rows='10', value='')
							.contact-agree
								input#agree(type='checkbox', checked='checked', required='required')
								label(for='agree') Я даю согласие на обработку персональных данных
							button.pop-button
								span Отправить
					.contact-item
						.contact-group
							img.contact-img(src='assets/img/loc.svg' alt='loc')
							p.contact-text 140205, Московская область, г. Воскресенск, ул. Менделеева, д. 5
						.contact-group
							img.contact-img(src='assets/img/phone.svg', alt='contact-img')
							a.contact-link(href='tel:+7 (495) 414-11-99') +7 (495) 414-11-99
						.contact-group
							img.contact-img(src='assets/img/mail.svg', alt='contact-img')
							a.contact-link(href='mailto:info@neuroinform.com') info@neuroinform.com
						.contact-social
							a(href="#").contact-links
								img(src="assets/img/whatsapp.svg", alt="whatsapp").contact-icon
								.contact-inners WhatsApp: 
									span @neuroinform
							a(href="#").contact-links
								img(src="assets/img/viber.svg", alt="viber").contact-icon
								.contact-inners Viber: 
									span @neuroinform
							a(href="#").contact-links
								img(src="assets/img/telegram.svg", alt="telegram").contact-icon
								.contact-inners Telegram: 
									span @neuroinform
						p.contact-subdesc Мы всегда на связи. Напишите нам на почту или в мессенджеры.

	include components/layout/footer.pug