<!DOCTYPE html>
html(lang="en")
	include components/layout/head.pug
body
	include components/layout/header.pug
	section.section-item(style='background: url(../assets/img/section-item-1.png) center no-repeat;background-size: cover;')
		.container
			.section-item__content
				nav.section-item__nav
					ul
						li
							a(href="#")  Главная
							img(src="assets/img/chevron-right.svg", alt="")
						li 
							span Решения
				.section-item__block
					h1.section-item__title Что мы предлагаем
					p.section-item__text Настраиваем защиту устройств и данных организации
	section.we-item
		.container
			.we-item__content
				.we-item__row
					nav.we-item__nav
						ul.js-tab-menu
							li(data-id='company')  О компании
							li(data-id='solve').active Решения
							li(data-id='about')   О нас
							li(data-id='mission')   Наша миссия
							li(data-id='contact')  Контакты
					.we-item__main
						.we-item__body(id='company').js-tab-body
							h1 company
						.we-item__body(id='solve').active.js-tab-body
							.we-item__grid
								.we-item__product
									img(src="assets/img/organization-icon-1.png", alt="iocns").we-item__img
									.we-item__block
										p.we-item__subtitle Стойкая аутентификация с технологией OTP
										p.we-item__subtext Каким образом сделать аутентификацию сотрудника, работающего удаленно, более надежной и удобной?<br><br>Стойкий пароль хорош для аутентификации, но его легко записать на стикер и положить под клавиатуру, где его может найти случайный гость. Для решения задачи существует изящный выход.
										a(href="#").work-safe__link Подробнее
								.we-item__product
									img(src="assets/img/organization-icon-2.png", alt="iocns").we-item__img
									.we-item__block
										p.we-item__subtitle Обучение основам информационной безопасности для сотрудников
										p.we-item__subtext Каким образом сделать аутентификацию сотрудника, работающего удаленно, более надежной и удобной?<br><br>Стойкий пароль хорош для аутентификации, но его легко записать на стикер и положить под клавиатуру, где его может найти случайный гость. Для решения задачи существует изящный выход.
										a(href="#").work-safe__link Подробнее
								.we-item__product
									img(src="assets/img/organization-icon-3.png", alt="iocns").we-item__img
									.we-item__block
										p.we-item__subtitle Таск-менеджер 
										p.we-item__subtext Вы тратите время на заметки, составление списка дел, поиски писем в электронной почте и выяснения, кто над чем работает? Тогда вам нужно одно решение, чтобы раздать задачи и расставить приоритеты, управлять временем и уложиться с проектами в сроки. <br><br>Программное обеспечение для управления задачами поможет организовать сотрудников и работать продуктивно. 
										a(href="#").work-safe__link Подробнее
								.we-item__product
									img(src="assets/img/organization-icon-4.png", alt="iocns").we-item__img
									.we-item__block
										p.we-item__subtitle Аудит по персональным данным
										p.we-item__subtext Каким образом сотрудники, работающие дистанционно, обрабатывают вверенные им персональные данные? Знают ли они правила работы с ними? Обработка персональных данных, не соответствующая требованиям законодательства, может повлечь многие беды для организации. <br><br>Мы расскажем, как их избежать!
										a(href="#").work-safe__link Подробнее
						.we-item__body(id='about').js-tab-body
							h1 about
						.we-item__body(id='mission').js-tab-body
							h1 mission
						.we-item__body(id='contact').js-tab-body
							h1 contact

	section.contact
		.container
			.contact-content
				h3.contact-title Обратная связь
				.contact-row
					.contact-boxes
						p.contact-desc Давайте начнем с бесплатной консультации. Напишите нам, и мы определим как защитить ваш бизнес. За несколько минут разговора мы подберем для вас индивидуальное решение.
						form.contact-form
							.pop-row
								.pop-groups
									.pop-group
										input.pop-input(type='text',required, placeholder='Ваше имя', value='')
									.pop-group
										input.pop-input(type='text',required, placeholder='Ваш телефон или email', value='')
							.pop-group
								textarea.pop-textarea(placeholder='Ваш вопрос', cols='30', rows='10', value='')
							.contact-agree
								input#agree(type='checkbox', checked='checked', required='required')
								label(for='agree') Я даю согласие на обработку персональных данных
							button.pop-button
								span Отправить
					.contact-item
						.contact-group
							img.contact-img(src='assets/img/loc.svg' alt='loc')
							p.contact-text 140205, Московская область, г. Воскресенск, ул. Менделеева, д. 5
						.contact-group
							img.contact-img(src='assets/img/phone.svg', alt='contact-img')
							a.contact-link(href='tel:+7 (495) 414-11-99') +7 (495) 414-11-99
						.contact-group
							img.contact-img(src='assets/img/mail.svg', alt='contact-img')
							a.contact-link(href='mailto:info@neuroinform.com') info@neuroinform.com
						.contact-social
							a(href="#").contact-links
								img(src="assets/img/whatsapp.svg", alt="whatsapp").contact-icon
								.contact-inners WhatsApp: 
									span @neuroinform
							a(href="#").contact-links
								img(src="assets/img/viber.svg", alt="viber").contact-icon
								.contact-inners Viber: 
									span @neuroinform
							a(href="#").contact-links
								img(src="assets/img/telegram.svg", alt="telegram").contact-icon
								.contact-inners Telegram: 
									span @neuroinform
						p.contact-subdesc Мы всегда на связи. Напишите нам на почту или в мессенджеры.

	include components/layout/footer.pug