<!DOCTYPE html>
html(lang="en")
	include components/layout/head.pug
body
	include components/layout/header.pug
	section.section-item(style='background: url(../assets/img/section-item-1.png) center no-repeat;background-size: cover;')
		.container
			.section-item__content
				nav.section-item__nav
					ul
						li
							a(href="#")  Главная
							img(src="assets/img/chevron-right.svg", alt="")
						li 
							span Решения
				.section-item__block
					h1.section-item__title Что мы предлагаем
					p.section-item__text Настраиваем защиту устройств и данных организации
	section.we-item
		.container
			.we-item__content
				.we-item__row
					nav.we-item__nav
						ul.js-tab-menu
							li(data-id='company')  О компании
							li(data-id='solve').active Решения
							li(data-id='about')   О нас
							li(data-id='mission')   Наша миссия
							li(data-id='contact')  Контакты
					.we-item__main
						.we-item__body(id='company').js-tab-body
							h1 company
						.we-item__body(id='solve').active.js-tab-body
							h4.we-item__head  “Ключевым фактором защиты информации является осведомлённость сотрудников, переведённых на дистанционную работу, об актуальных угрозах и простых правилах работы в сети”
							p.we-item__text Мы поможем вашей организации подобрать и внедрить эффективные средства аутентификации. Это позволит нивелировать многие риски, связанные с неправомочным доступом к сетевым ресурсам, файлам, бухгалтерии. Применение технологии OTP (one time password) выведет защиту вашей сети на новый уровень и сделает ее более удобной для дистанционных сотрудников.<br><br>Ключевым фактором защиты информации вашей организации является осведомленность сотрудников, переведенных на дистанционную работу, об актуальных угрозах и простых правилах работы в сети, которые позволяют их избежать. <br><br>Как проконтролировать эффективность работы сотрудников, переведенных в дистанционный режим? И как ими эффективно управлять? Эти задачи успешно решает система таск-менеджмента. Создавайте задачи, назначайте ответственных, делегируйте полномочия и просматривайте отчет о работе. <br><br>Следует также обратить внимание, что с переходом на дистанционную работу особую остроту приобрела уверенность в том, что бизнес-процессы, связанные с обработкой информации происходят в соответствии с действующим законодательством. Прежде всего актуальным является соответствие №152-ФЗ «О персональных данных» и его подзаконных актах. Мы поможем провести аудит на соответствие бизнес-процессов Вашей организации, в которых участвуют дистанционные сотрудники, на соответствие требованиям ФЗ.<br><br>Ни один бизнес не может существовать без главного ресурса – людей. Регулярное тестирование сотрудников с использованием экспресс-тестов на COVID-19 и своевременное выявление заболевания помогает снизить риск распространения вируса и уменьшить вероятность простоев в работе. Наличие теста под рукой позволит вашим сотрудникам пройти его в любое время и в любом месте.

						.we-item__body(id='about').js-tab-body
							h1 about
						.we-item__body(id='mission').js-tab-body
							h1 mission
						.we-item__body(id='contact').js-tab-body
							h1 contact

	section.contact
		.container
			.contact-content
				h3.contact-title Обратная связь
				.contact-row
					.contact-boxes
						p.contact-desc Давайте начнем с бесплатной консультации. Напишите нам, и мы определим как защитить ваш бизнес. За несколько минут разговора мы подберем для вас индивидуальное решение.
						form.contact-form
							.pop-row
								.pop-groups
									.pop-group
										input.pop-input(type='text',required, placeholder='Ваше имя', value='')
									.pop-group
										input.pop-input(type='text',required, placeholder='Ваш телефон или email', value='')
							.pop-group
								textarea.pop-textarea(placeholder='Ваш вопрос', cols='30', rows='10', value='')
							.contact-agree
								input#agree(type='checkbox', checked='checked', required='required')
								label(for='agree') Я даю согласие на обработку персональных данных
							button.pop-button
								span Отправить
					.contact-item
						.contact-group
							img.contact-img(src='assets/img/loc.svg' alt='loc')
							p.contact-text 140205, Московская область, г. Воскресенск, ул. Менделеева, д. 5
						.contact-group
							img.contact-img(src='assets/img/phone.svg', alt='contact-img')
							a.contact-link(href='tel:+7 (495) 414-11-99') +7 (495) 414-11-99
						.contact-group
							img.contact-img(src='assets/img/mail.svg', alt='contact-img')
							a.contact-link(href='mailto:info@neuroinform.com') info@neuroinform.com
						.contact-social
							a(href="#").contact-links
								img(src="assets/img/whatsapp.svg", alt="whatsapp").contact-icon
								.contact-inners WhatsApp: 
									span @neuroinform
							a(href="#").contact-links
								img(src="assets/img/viber.svg", alt="viber").contact-icon
								.contact-inners Viber: 
									span @neuroinform
							a(href="#").contact-links
								img(src="assets/img/telegram.svg", alt="telegram").contact-icon
								.contact-inners Telegram: 
									span @neuroinform
						p.contact-subdesc Мы всегда на связи. Напишите нам на почту или в мессенджеры.

	include components/layout/footer.pug