.footer{

    padding-bottom: 38px;
    @include lg{
        padding-bottom: 35px;
    }
    &-text{
        
        text-align: center;
        color: rgba(79,79,79,.4);
        font-size: 15px;
        line-height: 24px;
        letter-spacing: 0.5px;
        padding-top: 58px;
        display: block;
        @include xl{
            padding-top: 35px;
        }
        @include sm{
            padding-top: 20px;
        }
    }
    &-row{
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include xl{
            flex-direction: column;
        }
    }
    &-content{
        &::before{
            content: "";
            display: block;
            width: 100%;
            height: 1px;
            background-color:#D1DDE6;
            margin: 79px 0 40px 0;
            @include lg{
                margin: 40px 0;
            }
            @include md{
                margin: 10px 0 35px 0;
            }
        }
    }
    &-nav{
        list-style-type: none;
        padding: 0;
        left: 0;
        @include xl{
            margin-top: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            text-align: center;
        }
        @include sm{
            flex-direction: column;
        }
        li{
            display: inline-block;
            margin-right: 30px;
            color: var(--color-gray);
            text-decoration: none;
            font-weight: 400;
            font-size: 15px;
            line-height: 24px;
            position: relative;
            letter-spacing: 0.5px;
            transition: .4s ease;
            @include sm{
                font-size: 15px;
            }
            &:nth-child(1)::after{

                display: none;
            }
            position: relative;
            &::after{
               content: "";
               display: block; 
               width: 1px;
               height: 100%;
               position: absolute;
               top: 0;
               left: -15px;
               background-color: #D1DDE6;
               @include sm{
                   display: none;
               }
            }
            @include lg{
                margin-right: 20px;

            }
            @include md{
                margin-bottom: 15px;
            }
          
            &:last-child{
                margin-right: 0;
            }
            a{
                color: var(--color-gray);
                text-decoration: none;
                font-weight: 400;
                font-size: 15px;
                line-height: 24px;
                position: relative;
                letter-spacing: 0.5px;
                transition: .4s ease;
                border-bottom: 2px solid transparent;
                &:hover{

                    color: #333333;
                }
                @include sm{
                    font-size: 15px;
                }
                @include md{
                    text-align: center;
                }
            }
        }
    }
    &-logo{
        img{
            @include lg{
                max-width: 140px;
            }
            
        }
    }
}