.product-item{
    padding-bottom: 120px;
    @include lg{
        padding-bottom: 80px;
    }
    @include sm{
        padding-bottom: 40px;
    }
   &__row{
       display: grid;
       grid: auto / 480px 1fr;
       grid-gap: 125px;
       
       margin-top: 40px;
       @include xl{
           grid-gap: 50px;
           
        }
        @include lg{
            margin-top: 30px;
           display: block;

       }
   } 
   &__main{
       @include lg{
           margin-bottom: 30px;

       }
   }
   &__image{
       width: 100%;
   }
   &__slider{
       margin-bottom: 15px;
       width: 100%;
       max-width: fit-content;
       &-small{
           width: calc(100% + 10px);
           .swiper-slide{
               cursor: pointer;
               &:hover img{
                   border: 1px solid #79D7F7;

               }
               img{
                   transition: .4s ease;
                   border: 1px solid transparent;
                   
                }
                &.swiper-slide-thumb-active {
                    img{
                       border: 1px solid #79D7F7;

                   }
               }
           }
       }
   }
   &__images{
    width: 100%;
    padding: 10px;
   }
   &__text{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: var(--color-gray);
    @include sm{
        font-size: 14px;
    }
   }
   &__grid{
       display: grid;
       margin-top: 46px;
       grid: auto / repeat(2,1fr);
       @include sm{
           grid: auto / repeat(1,1fr);
           margin-top: 30px;
           grid-gap: 12px;
       }
   }
   &__subtitle{
       padding-bottom: 5px;
       display: block;
   }
   &__group{
       display: grid;grid: auto / 173px 1fr;
       grid-gap: 40px;
       @include sm{
           grid-gap: 20px;
           grid: auto / 1fr;

       }
   }

   &__link{
    padding: 0 42px;
    line-height: 56px;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    border: none;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.5px;
    font-weight: 500;
    border: 1px solid #79D7F7;
    font-size: 16px;
    color: var(--color-gray);
    transition: .4s ease;
    text-decoration: none;
    background: transparent;
    transition: background .4s ease;
    position: relative;
    span{
        z-index: 3;
        position: relative;
    }
    &:hover span{
        color: #fff;

    }
    &:after{
        position: absolute;
        content: "";
        top: 0;
        border-radius: 6px;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(91.18deg, #4E6EA8 -0.13%, #3987B0 50.48%, #55B3D2 99.87%);
        transition: opacity 0.5s ease-out;
        z-index: 2;
        opacity: 0;
    }
    &:hover::after{
        opacity: 1;
    }
    @include sm{
        font-size: 15px;
        line-height: 50px;
    }
   }
   &__button{
    padding: 0 42px;
    line-height: 56px;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    border: none;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.5px;
    font-weight: 500;
    font-size: 16px;
    color: #F5F5F5;
    transition: .4s ease;
    background: linear-gradient(91.18deg, #55B3D2 -0.13%, #3987B0 50.48%, #4E6EA8 99.87%);
    transition: background .4s ease;
    position: relative;
    span{
        z-index: 3;
        position: relative;
    }
    &:after{
        position: absolute;
        content: "";
        top: 0;
        border-radius: 6px;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(91.18deg, #4E6EA8 -0.13%, #3987B0 50.48%, #55B3D2 99.87%);
        transition: opacity 0.5s ease-out;
        z-index: 2;
        opacity: 0;
    }
    &:hover::after{
        opacity: 1;
    }
    @include sm{
        font-size: 15px;
        line-height: 50px;
    }
   }
   &__blocks{
    font-size: 12px;
    line-height: 18px;
    color: #838B96;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    img{
        display: block;
        text-align: left;
        margin-right: auto;

        margin-bottom: 10px;
        height: 30px;
    }
   }
   &__nav{
       ul{
           list-style-type: none;
           padding: 0;
           margin: 48px 0 0 0;
           li{
               display: flex;

               align-items: center;
               font-size: 16px;
                line-height: 24px;
                color: #384967;
                margin-bottom: 8px;
                @include sm{
                    font-size: 14px;
                }
               img{
                   vertical-align: middle;
                   width: 24px;
                   flex: 0 0 24px;
                   height: 24px;
                   margin-right: 8px;
               }
           }
       }
   }
   &__proizv {
    font-size: 12px;
    line-height: 18px;
    
    color: #838B96;
    display: block;
    
       padding: 
       21px 0 30px 0;
       img{
           display: block;
           max-width: 162px;
           margin-top: 5px;
       }
   }
}