.section-item{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    min-height: 512px;
    @include lg{
        min-height: 452px;

    }
    @include md{
        min-height: 400px;
    }
    &::before{
        content: '';
        position: absolute;
        width: 100%;
        z-index: 0;
        top: 0;
        left: 0;
        height: 100%;
        background: url('../img/section-bg.png') center no-repeat;
        background-size: cover;
    }
    &::after{
        content: '';
        position: absolute;
        width: 100%;

        top: 0;
        left: 0;
        height: 100%;
        background: rgba(53, 85, 142, 0.54);
    }
    &__block{
        position: relative;
        z-index: 10;
        top: 50px;
    }
    &__title{
        color: #fff;
        display: block;
        padding-bottom: 24px;
    }
    &__text{
        font-size: 20px;
        line-height: 30px;
        display: block;
        letter-spacing: 0.15px;
        color: #F5F5F5;
        @include lg{
            font-size: 18px;
            line-height: 28px;
        }
        @include md{
            font-size: 15px;
            line-height: 25px;
        }
        
    }
    &__section{
        margin: 120px 0 40px 0  ;
        @include lg{
            margin: 100px 0 30px 0  ;

        }

    }
    &__breadcrumbs{
        ul{
            list-style-type: none;
            padding: 0;
            margin: 0;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            li{
                display: flex;
                align-items: center;
                img{
                    display: block;
                    width: 24px;
                    margin: 0 10px;
                    @include sm{
                        width: 18px;
                        margin: 0 8px;
                        
                    }
                }
                span{
                    font-weight: 600;
                    font-size: 15px;
                    line-height: 24px;
                    letter-spacing: 0.5px;
                    color: #79D7F7;
                    @include sm{
                        font-size: 13px;
                    }
                }
                a{
                    font-size: 15px;
                    text-decoration: none;
                    line-height: 24px;
                    letter-spacing: 0.5px;
                    color: var(--color-gray);
                    &:hover{
                        text-decoration: underline;
                    }
                    @include sm{
                        font-size: 13px;
                    }

                }
            }
        }

    }
    &__nav{
        position: absolute;
        z-index: 10;
        top: 120px;
        
        @include md{
            top: 90px;
        }
        ul{
            list-style-type: none;
            padding: 0;
            margin: 0;
            display: flex;
            align-items: center;
            li{
                display: flex;
                align-items: center;
                img{
                    display: block;
                    width: 24px;
                    margin: 0 10px;
                    @include sm{
                        width: 18px;
                        margin: 0 8px;
                        
                    }
                }
                span{
                    font-weight: 600;
                    font-size: 15px;
                    line-height: 24px;
                    letter-spacing: 0.5px;
                    color: #79D7F7;
                    @include sm{
                        font-size: 13px;
                    }
                }
                a{
                    font-size: 15px;
                    text-decoration: none;
                    line-height: 24px;
                    letter-spacing: 0.5px;
                    color: #fff;
                    &:hover{
                        text-decoration: underline;
                    }
                    @include sm{
                        font-size: 13px;
                    }

                }
            }
        }

    }
}