.work-safe{
    background: linear-gradient(180deg, rgba(250, 250, 250, 0) 0%, #ECF1FA 116.62%);
    padding: 120px 0;
    @include xl{
        padding: 90px 0;
    }
    @include md{
        padding: 50px 0;
    }
    &__text{
        font-size: 16px;
        line-height: 24px;

        letter-spacing: 0.15px;
        color: var(--color-gray);
        padding-top: 26px;
        @include sm{
            font-size: 15px;
        }

        b{
            display: block;
            font-weight: bold;
            padding-top: 30px;
        }
    }
    &__link{
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        text-decoration: none;
        color: var(--color-blue--dark);
        display: block;
        position: relative;
        max-width: fit-content;
        margin-top: 30px;
        @include sm{
            font-size: 15px;
        }

        &:hover{
            color: #4e6ea8;
            &::after{
                background: #4e6ea8;
                width: 100%;
            }
        }
        &::after{

            content: '';
            transition: .4s ease;
            display: block;
            width: 40px;
            background: var(--color-blue--dark);;
            height: 1px;
            position: absolute;
            bottom: -8px;
            left: 0;
        }
    }
    &__row{
        display: grid;
        grid: auto / repeat(2,1fr);
        grid-gap: 82px;
        &.indent{
            align-items: center;
        }
        @include xl{
            grid-gap: 52px;
        }
        @include lg{
            grid-gap: 40px;
        }
        
        @include md{
            grid-gap: 20px;
            grid: auto / repeat(1,1fr);

        }
    }
    &__img{
        width: 90%;
        margin: 0 auto;
        display: block;
        object-fit: contain;
        @include md{
            width: 70%;
            margin: 0 auto;
            order: 1;
        }
    }
    &__box{
        @include md{
            order: 2;
        }
    }
}