.pop-item.js-pop-edit
    .pop-item__content
        img(src="assets/img/logo.svg", alt="logo").pop-item__logo
        .pop-item__close.js-pop-edit-close
            img(src="assets/img/close.svg", alt="close")
        nav.pop-item__social
            ul
                li
                    a(href="#" target='_blank')  Facebook
                li
                    a(href="#" target='_blank') Vkontakte
                li
                    a(href="#" target='_blank') Instagram
        nav.pop-item__mobile
            ul
                li
                    a(href="#" target='_blank') Fb
                li
                    a(href="#" target='_blank') Vk
                li
                    a(href="#" target='_blank') Inst
        .pop-item__main
            form.pop-item__form
                h1.pop-item__title Оставить заявку
                p.pop-item__text Оставьте заявку для разработки индивидуального коммерческого предложения. Мы свяжемся с вами в ближайшее время.
                .pop-item__box 
                    .pop-item__group
                        input(type="text" required placeholder='Имя *' name='name').pop-item__input
                        input(type="text" required placeholder='Адрес вашего сайта' name='adress').pop-item__input
                        input(type="number" required placeholder='Телефон *' name='number').pop-item__input
                        input(type="emaill" required placeholder='Эл. почта' name='email').pop-item__input
                    textarea(name="comment" required placeholder='Напишите ваши пожелания').pop-item__textarea
                .pop-item__box.indent
                    .pop-item__group
                        .pop-item__file
                            input(type="file" id='file')
                            label(for='file') Загрузить файл
                        button.pop-item__button Отправить заявку
                        .pop-item__blocks
                            .pop-item__agree
                                input(type="checkbox" id='checkbox')
                                label(for='checkbox') Хочу получать рассылку
                            .pop-item__subtext Нажимая кнопку, Вы соглашаетесь с условиями обработки 
                                a(href="#")  персональных данных
                    button.pop-item__button Отправить заявку