.footer
    .container
        .footer-content
            .footer-row
                a.footer-logo(href='/')
                    img(src='assets/img/footer-logo.svg', alt='logo')
                ul.footer-nav
                    li 40205, Московская область, г. Воскресенск, ул. Менделеева, д. 5
                    li
                        a(href='tel:+7 (495) 414-11-99') +7 (495) 414-11-99
                    li
                        a(href='mailto:info@neuroinform.com') info@neuroinform.com
    p.footer-text © 2020. Neuroinform
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
script(src = "assets/js/scripts.min.js")