include ../pop/pop-edit.pug
.header-menu.js-header-menu
    .header-menu__content
        img(src="assets/img/logo.svg", alt="logo").pop-item__logo
        nav.pop-item__social
            ul
                li
                    a(href="#" target='_blank')  Facebook
                li
                    a(href="#" target='_blank') Vkontakte
                li
                    a(href="#" target='_blank') Instagram
        .header-menu__main
            +tp-slider
            .header-menu__row
                .header-menu__block
                    p.header-menu__head Компания
                    nav.header-menu__nav
                        ul
                            li
                                a(href="#")  О AMDG
                            li
                                a(href="#")  Отзывы
                            li
                                a(href="#")  Сертификаты
                            li
                                a(href="#") Вакансии
                            li
                                a(href="#") Контакты
                .header-menu__block
                    p.header-menu__head Отрасли 
                    nav.header-menu__nav
                        ul
                            li
                                a(href="#") Финансы
                            li
                                a(href="#") Недвижимость
                            li
                                a(href="#") Авто    
                            li
                                a(href="#") Медицина
                .header-menu__block
                    p.header-menu__head Блог
                    nav.header-menu__nav
                        ul
                            li
                                a(href="#") Финансы
                            li
                                a(href="#") Недвижимость
                            li
                                a(href="#") Авто    
                            li
                                a(href="#") Медицина

            .header-menu__bg
                .header-menu__top
                    .header-menu__title УСЛУГИ И<br>ПРОДУКТЫ
                    .header-menu__aside
                        a(href="tel:+7 (495) 241-98-12").header-menu__phone +7 (495) 241-98-12
                        img(src="assets/img/search-white.svg", alt="search-white.svg").header-menu__search    
                        .header-menu__order.js-pop-edit-button
                    .header-menu__grid
                        .header-menu__side
                            .header-menu__subspan  Performance & Media
                            nav.header-menu__list
                                ul
                                    li
                                        a(href="#") Performance marketing
                                    li
                                        a(href="#") Комплексное продвижение
                                    li
                                        a(href="#") Видеореклама 
                                    li
                                        a(href="#") Контекстная реклама
                        .header-menu__side
                            .header-menu__subspan  DigitalPR & SMM
                            nav.header-menu__list
                                ul
                                    li
                                        a(href="#") SMM
                                    li
                                        a(href="#") Influence-маркетинг  
                                    li
                                        a(href="#") Продвижение в Tik Tok
                        .header-menu__side
                            .header-menu__subspan  Управление репутацией
                            nav.header-menu__list
                                ul
                                    li
                                        a(href="#") ORM
                                    li
                                        a(href="#") SERM
                                    li
                                        a(href="#") Мониторинг упоминаний
                                    li
                                        a(href="#")  Работа с негативными отзывами
                        .header-menu__side
                            .header-menu__subspan  Продвижение сайта    
                            nav.header-menu__list
                                ul
                                    li
                                        a(href="#") SEO 
                                    li
                                        a(href="#") Продвижение по трафику
                                    li
                                        a(href="#") Продвижение по трафику
                                    li
                                        a(href="#") Аудит семантики
                        .header-menu__side
                            .header-menu__subspan  Продукты Google  
                            nav.header-menu__list
                                ul
                                    li
                                        a(href="#") Google Marketing Platform
                                    li
                                        a(href="#") Display & Video 360
                                    li
                                        a(href="#") Google Analytics 360
                        .header-menu__side
                            .header-menu__subspan  Продвижение приложений   
                            nav.header-menu__list
                                ul
                                    li
                                        a(href="#") Продвижение мобильных приложений    
                                    li
                                        a(href="#") Apple Search Ads
                        .header-menu__side
                            .header-menu__subspan Оплата рекламных кабинетов
                            nav.header-menu__list
                                ul
                                    li
                                        a(href="#") AMDG Pay